<div class="header">
  <div class="container">
    <h1>Contatos</h1>
  </div>
</div>
<div class="leads">
  <div class="container">
    <% @leads.each do |lead| %>
    <div class="lead">
     <p class="content"> <%= lead.name %></p>
     <p class="content"> <%= lead.last_name %></p>
     <p class="content"> <%= lead.email %></p>
     <p class="content"> <%= lead.company %></p>
    </div> 
    <% end %>
  </div>
 <%= link_to 'Cadastrar novo contato', "new" %>
</div>
