<div class="header">
  <div class="container">
    <h1>Contatos</h1>
  </div>
</div>
<div class="leads">
  <div class="container">
    <% @leads.each do |lead| %>
    <div class="lead">
     <p class="content">Nome: <%= lead.name %></p>
     <p class="content">Sobrenome: <%= lead.last_name %></p>
     <p class="content">Email: <%= lead.email %></p>
     <p class="content">Compania: <%= lead.company %></p>
     <p class="content">Profissão: <%= lead.job_title %></p>
     <p class="content">Telefone: <%= lead.phone %></p>
     <p class="content">Website: <%= lead.website %></p>
     <p class="content">--------------------------------- </p> 
   </div> 
    <% end %>
  <%= link_to 'Cadastrar novo contato', "new" %>
  </div>
  <br />
</div>
